/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
  scroll-behavior: smooth;
}

.nav-link {
  @apply text-gray-700 font-medium hover:text-blue-600;
}

.active {
  @apply text-blue-600 font-bold;
}

.mobile-profile-btn {
  @apply text-left cursor-pointer;
}

.tag {
  @apply inline-flex items-center bg-blue-50 text-blue-700 px-3 py-1.5 text-xs rounded-full font-medium;
}
.btn-green {
  @apply w-full bg-green-600 hover:bg-green-700 text-white py-3 px-4 rounded-lg font-medium flex items-center justify-center transition;
}
.btn-blue {
  @apply w-full bg-blue-600 hover:bg-blue-700 text-white py-3 px-4 rounded-lg font-medium flex items-center justify-center transition;
}
